html {
	background-color: #f6e9dc;
}

#logo {
	width: 10%;
}

#menus {
	display: flex;
	/* justify-content: center; */
	width: 90%;
	margin: auto 5px;
}

.dropdown {
	margin: 1vw 10px;
}

#in.dropdown{
	margin: 1px;
}

#in2.dropdown{
	margin: 1px;
}

#inner.dropbtn{
	font-size: 20px;
}
.dropbtn {
	font-size: 30px;
	border: 1px outset rgb(223, 187, 187);
	background-color: beige;
	color: #0076a0;
	font-family: 'Courier New', monospace;
	border-radius: 10px;
}

.menu-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 200px;
	margin: auto;
	margin-top: 2px;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgb(131, 131, 131);
}

.sd{
	border: solid 1px lightblue;
	border-radius: 5px;
	margin: 1px;
}

.menu-content a {
	display: block;
	color: rgb(56, 56, 56);
	text-decoration: none;
	font-size: 20px;
	font-family: 'Courier New', monospace;
	margin: auto;
	padding: 5px;
}

#image{
	display: block;
	margin-left: auto;
	width:100px;
}

.dropbtn:hover{
	background-color: rgb(248, 235, 211);
}

.dropdown[id="out"]:hover .menu-content[id="mOut"]{
	display: block;
}
.dropdown[id="in"]:hover .menu-content[id="in1"]{
	display: inline-block;
}
.dropdown[id="in2"]:hover .menu-content[id="in2"]{
	display: inline-block;
}
