html {
	background-color: #525455;
}

#header {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2vh;
	width: 75%;
	height: 13vh;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	box-shadow: 10px 10px 10px black;
	background-color: #8f8f8f;
}

#logo {
	width: 30%;
}

#loupe {
	margin-left: auto;
	margin-top: auto;
}

#glasses {
	width: 12vw;
	margin-top: 1vh;
}

.icons {
	width: 2%;
	height: 90%;
	margin-top: auto;
	margin-bottom: auto;
}

#close {
	display: block;
	margin-top: 6vh;
}

.leftbar {
	width: 7.3vw;
	/* width: 8.2%; */
	height: 46vh;
	float: left;
	margin: 3vh -100% 0 13.5%;
	/* margin: 2%;
	margin-right: -100%;
	margin-left: 13.5%;
	margin-top: 3vh; */
	background: #8f8f8f;
	border-radius: 10px;
	box-shadow: 10px 10px 12px black;
}

.l_img
{
	display: block;
	max-width: 50%;
	max-height: 50%;
	margin: auto;
	padding: 5%;
	text-align: center;
}

#centerimg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#clust {
	width: 53%;
	margin: 3vh auto auto auto;
	border: solid #8f8f8f;
	border-width: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 12px black;
}

.rightbar {
	width: 8.2%;
	height: 46vh;
	float: right;
	margin: -63.6vh 13.5% 0 -100%;
	background: #8f8f8f;
	border-radius: 10px;
	box-shadow: 10px 10px 12px black;
}

.r_img
{
	display: block;
	max-width: 53%;
	max-height: 53%;
	margin: auto;
	padding: 5%;
	text-align: center;
}

.r2_img
{
	display: block;
	max-width: 80%;
	max-height: 53%;
	margin: auto;
	padding: 5%;
	text-align: center;
}

#bricks{
	display: block;
	margin-top: -5%;
	width: 100%;
}

#b1
{
    width: 25%;
    float: left;
    
}

#b2
{
    width: 25%;
    float: left;
}

#b3
{
    width: 25%;
	float: left;
}

#b4
{
    width: 25%;
	float: left;
}

#lowerbox {
	display: block;
	position: relative;
	background-color: #88ff89;
	border-radius: 10px;
	max-width: 25%;
	max-height: 100%;
	padding: 10px;
	padding-bottom: 80px;
	line-height: 3px;
	box-shadow: 10px 10px 5px black;
	margin: -4% 0 0 11%;
}
#lowerbox > p, #p {
	font-size: 0.8vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}